body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #ff4040;
  font-size: 8px;
  vertical-align:middle;
  text-decoration: none;
}

.item-list {
  vertical-align:middle;
}
